<!-- EXTENDS planets_app/base.html -->
{% extends "planets_app/base.html" %}

<!-- LOAD STATIC -->
{% load static %}

<!-- TITLE -->
{% block title %}
    Compare - The Planets
{% endblock %}

<!-- COMPARE PLANETS CONTENT -->
{% block body_block %}

<form method="post">
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-6">
                <select name="planet1" class="form-select">
                    <option value="">Select planet 1</option>
                    {% for planet_name in planet_names %}
                    <option value="{{ planet_name }}" {% if planet1_name == planet_name %}selected{% endif %}>{{ planet_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-6">
                <select name="planet2" class="form-select">
                    <option value=""> Select planet 2 </option>
                    {% for planet_name in planet_names %}
                    <option value="{{ planet_name }}" {% if planet2_name == planet_name %}selected{% endif %}>{{ planet_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mt-3 mb-2 ">
            <div class="col-sm-12 d-flex justify-content-center">
                {% csrf_token %}
                <button type="submit">Compare</button>
            </div>
        </div>
    </div>
</form>


{% if planet1_data and planet2_data and planet1_model and planet2_model %}
    <div class="container">

    <!--    IMG row-->
        <div class="row mb-4">
            <div class="col-lg-5 col-sm-12 left">
                <div class="container-img ">
                    <img alt="Overview" title="Overview" src="{{ planet1_model.planet_image.url }}" width="400">
                </div>
            </div>

            <div class="col-lg-2 col-sm-2 center">

            </div>

            <div class="col-lg-5 col-sm-12 right">
                <div class="container-img">
                    <img alt="Overview" title="Overview" src="{{ planet2_model.planet_image.url }}" width="400">
                </div>
            </div>
        </div>

    <!--compare rows-->

        <div class="row mb-3">
            <div class="col-lg-5 col-sm-6 left align-bottom ">
                <h2>{{ planet1_data.name }}</h2>
            </div>
            <div class="col-lg-2 col-sm-2 center align-bottom ">
                <h3>VS</h3>
            </div>
            <div class="col-lg-5 col-sm-6 right align-bottom ">
                <h2>{{ planet2_data.name }}</h2>
            </div>
        </div>


        <div class="row border-bt align-bottom mt-2 ">
            <div class="col-lg-5 col-sm-6 left">
                <p>{{ planet1_data.radius }} km</p>
            </div>
            <div class="col-lg-2 col-sm-2 center ">
                <h4>radius</h4>
            </div>
            <div class="col-lg-5 col-sm-6 right ">
                <p>{{ planet2_data.radius }} km</p>
            </div>
        </div>


        <div class="row border-bt align-bottom mt-2 ">
            <div class="col-lg-5 col-sm-6 left">
                <p>{{ planet1_data.distance_sun }} AU</p>
            </div>
            <div class="col-lg-2 col-sm-2 center ">
                <h4>Distance from Sun </h4>
            </div>
            <div class="col-lg-5 col-sm-6 right ">
                <p>{{ planet2_data.distance_sun }} AU</p>
            </div>
        </div>


        <div class="row border-bt align-bottom mt-2 ">
            <div class="col-lg-5 col-sm-6 left">
                <p>{{ planet1_data.mass }} kg</p>
            </div>
            <div class="col-lg-2 col-sm-2 center ">
                <h4>Mass</h4>
            </div>
            <div class="col-lg-5 col-sm-6 right ">
                <p>{{ planet2_data.mass }} kg</p>
            </div>
        </div>


        <div class="row border-bt align-bottom mt-2 ">
            <div class="col-lg-5 col-sm-6 left">
                <p>{{ planet1_data.gravity }} m/s<sup>2</sup></p>
            </div>
            <div class="col-lg-2 col-sm-2 center ">
                <h4>Gravity</h4>
            </div>
            <div class="col-lg-5 col-sm-6 right ">
                <p>{{ planet2_data.gravity }} m/s<sup>2</sup></p>
            </div>
        </div>


        <div class="row border-bt align-bottom mt-2 ">
            <div class="col-lg-5 col-sm-6 left">
                <p>{{ planet1_data.moons_num }}</p>
            </div>
            <div class="col-lg-2 col-sm-2 center ">
                <h4>Number of Satellites</h4>
            </div>
            <div class="col-lg-5 col-sm-6 right ">
                <p>{{ planet2_data.moons_num }}</p>
            </div>
        </div>


        <div class="row border-bt align-bottom mt-2 ">
            <div class="col-lg-5 col-sm-6 left">
                <p>{{ planet1_data.rotation }} hours</p>
            </div>
            <div class="col-lg-2 col-sm-2 center ">
                <h4>Length of day</h4>
            </div>
            <div class="col-lg-5 col-sm-6 right ">
                <p>{{ planet2_data.rotation }} hours</p>
            </div>
        </div>


        <div class="row border-bt align-bottom mt-2 ">
            <div class="col-lg-5 col-sm-6 left">
                <p>{{ planet1_data.revolution }} days</p>
            </div>
            <div class="col-lg-2 col-sm-2 center ">
                <h4>Length of year</h4>
            </div>
            <div class="col-lg-5 col-sm-6 right ">
                <p>{{ planet2_data.revolution }} days</p>
            </div>
        </div>


        <div class="row border-bt align-bottom mt-2 ">
            <div class="col-lg-5 col-sm-6 left">
                <p>{{ planet1_data.temperature }} &deg;C</p>
            </div>
            <div class="col-lg-2 col-sm-2 center ">
                <h4>temperature</h4>
            </div>
            <div class="col-lg-5 col-sm-6 right ">
                <p>{{ planet2_data.temperature }} &deg;C</p>
            </div>
        </div>
    </div>
{% else %}
    <h3>Please select both planets</h3>
{% endif %}

{% endblock %}